/*
green rgb(96,144,114);
yellow rgb(255,254,176);
dark yellow rgb(203,193,110);
dark green rgb(115,108,23);
red rgb(188,75,45);
dark red rgb(75,12,11);
yellow-grey rgb(170,169,129);
light grey rgb(246,246,240);
*/

.App {
  text-align: center;
  align-content: center;
  background-color: rgb(255,254,200);
  height: 100vh;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /* max-width: 950px; */
}

/* div.main-content {
  max-width: 950px;
} */

h1.header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  font-size: 14vw;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(96,144,114);
}

h2 {
  margin-top: 5px;
  margin-bottom: 0px;    
}

.content-header span {
  font-weight: 200;
  font-size: 9.8vw;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(96,144,114);
  cursor: pointer;
  margin-top: 0px; 
}

.content-header span.active {
  color: rgb(75,12,11);
}

.content-header span > h2 {
  margin-top: 0px;
}

p {
  color: rgb(115,108,23);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.contact-logos-container {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 5px;
}

.contact-logos-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.contact-logos-container svg {
  fill: rgb(96,144,114);
  transition: fill .8s ease;
  width: 8vw;
  height: auto;
}

.contact-logos-container svg:hover {
  fill: rgb(75,12,11);
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}