/*
green rgb(96,144,114);
yellow rgb(255,254,176);
dark yellow rgb(203,193,110);
dark green rgb(115,108,23);
red rgb(188,75,45);
dark red rgb(75,12,11);
yellow-grey rgb(170,169,129);
light grey rgb(246,246,240);
*/
html {
  background-color: rgb(255,254,200);

}

p {
  color: rgb(96,144,114);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h2 {
  margin-top: 5px;
  margin-bottom: 0px;    
}

.App {
  align-content: center;
  background-color: rgb(255,254,200);
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  min-height: 100%;
  text-align: center;
  width: 100%;
  /* max-width: 950px; */
}

.main-content {
  text-align: center;
  /* justify-content: center; */
  /* max-width: 80%; */
}

.main-content > p {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  font-weight: 400;
  max-width: 80%;
}

p.header {
  color: rgb(96,144,114);
  font-weight: 200;
  font-size: 14vw;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-header span {
  color: rgb(96,144,114);
  cursor: pointer;
  font-weight: 200;
  font-size: 9.8vw;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 0px; 
}

.content-header span.active {
  color: rgb(75,12,11);
}

.content-header span > h2 {
  margin-top: 0px;
}

.contact-logos-container {
  background-color: rgb(255,254,200);
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
  margin-bottom: 5px;
  width: 60%;
}

.contact-logos-container > div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40%;
}

.contact-logos-container svg {
  fill: rgb(96,144,114);
  height: auto;
  transition: fill .8s ease;
  max-width: 50px;
  width: 8vw;
}

.contact-logos-container svg:hover {
  fill: rgb(75,12,11);
}
