/*
green rgb(96,144,114);
yellow rgb(255,254,176);
dark yellow rgb(203,193,110);
dark green rgb(115,108,23);
red rgb(188,75,45);
dark red rgb(75,12,11);
yellow-grey rgb(170,169,129);
light grey rgb(246,246,240);
*/

.App {
  text-align: center;
  align-content: center;
  background-color: rgb(255,254,200);
  height: 100vh;
}

h1.header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 200;
  font-size: 14vw;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(96,144,114);
}

p {
  color: rgb(115,108,23);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.contact-logos-container {
  display: flex;
  width: 100%;
  /* justify-content: center; */
}

.contact-logos-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-logos-container img {
  width: 10vw;
  height: auto;
}